/*variables colors para redes sociales*/
* {
  font-family: "League Spartan", sans-serif; }

/* cards de las redes sociales*/
.container-card {
  width: 100%;
  padding: 20px;
  padding-bottom: 40px;
  margin-top: 60px; }

.card-elemento {
  padding: 10px;
  position: relative;
  transition: all .30s;
  border-radius: 20px; }
  .card-elemento:hover {
    box-shadow: 1px 1px 20px -10px #20202049; }
    .card-elemento:hover.container-icon {
      margin-top: -110px;
      border-radius: 20px 20px 0px 0px; }
    .card-elemento:hover .container-info {
      margin-top: 0%;
      border-radius: 20px 20px 20px 20px; }

.container-icon {
  width: 100%;
  height: 220px;
  background-color: #5CD2B9;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
  border-radius: 20px; }
  .container-icon i {
    font-size: 150px;
    color: #AAAAAA;
    transition: all 400ms cubic-bezier(0.5, 0, 0, 1); }

.container-info {
  width: 100%;
  height: 220px;
  color: #F9F9F9;
  background-color: #151515;
  padding: 20px;
  margin-top: -220px;
  transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
  border-radius: 20px; }
  .container-info p {
    font-size: 14px;
    margin-top: 10px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    overflow: hidden; }
  .container-info input {
    margin-top: 20px;
    padding: 10px 40px;
    background-color: #5CD2B9;
    color: #F9F9F9;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 10px -5px #20202049;
    transition: box-shadow 300ms; }
    .container-info input:hover {
      box-shadow: 1px 1px 20px -5px #20202070; }

/* cards indivualmente */
.c1:hover .container-icon {
  background-color: #0ab0c6; }
  .c1:hover .container-icon i {
    color: #F9F9F9; }

.c1 .container-icon i {
  color: #0ab0c6; }

/* C2*/
.c2:hover .container-icon {
  background-color: #a82bf5; }
  .c2:hover .container-icon i {
    color: #F9F9F9; }

.c2 .container-icon i {
  color: #a82bf5; }

/*C3*/
.c3:hover .container-icon {
  background-color: #c60a62; }
  .c3:hover .container-icon i {
    color: #F9F9F9; }

.c3 .container-icon i {
  color: #c60a62; }

.slider {
  padding: 15px;
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden; }

.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(200px * 14); }

.slider .slite {
  width: 200px; }

.slider .slide img {
  width: 100%; }

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(calc(-200px *7));
    transform: translateX calc(-200px *7); } }

.background-nav {
  background-color: #0C0C0C; }

.link-colors a {
  color: #F9F9F9; }
  .link-colors a:hover {
    color: #5CD2B9; }

.nav_logo {
  width: 100px;
  height: 100px; }

.bodyhome {
  background-color: #0C0C0C; }

.background__hero {
  height: 700px;
  background-image: linear-gradient(270deg, #5CD2B93D 1%, #04020200 51%), url(https://evilgeniuses.gg/wp-content/uploads/2020/05/about_4.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain; }

.align-items {
  display: flex;
  align-items: center; }

.hero-titles {
  text-align: left; }
  .hero-titles h1 {
    color: #AAAAAA;
    font-size: 75px; }
    .hero-titles h1 span {
      color: #5CD2B9; }
  .hero-titles h5 {
    color: #5CD2B9;
    font-size: 18px;
    letter-spacing: 4px;
    text-transform: uppercase; }

@media (max-width: 767px) {
  .hero-titles h1 {
    font-size: 45px; }
  .hero-titles h5 {
    font-size: 15px; } }

.border-box {
  box-sizing: border-box;
  padding: 10px; }

.video-cont {
  height: 100%;
  text-align: left; }

.video-play {
  box-sizing: border-box;
  width: auto;
  height: auto; }
  .video-play i {
    font-size: 60px;
    color: #5CD2B9; }

.right-overlay {
  margin-top: 5px;
  padding: 10px;
  display: flex; }
  .right-overlay .linear-division {
    margin: 5px;
    width: 50px;
    height: 2px;
    background-color: #5CD2B9; }

.title-end {
  padding-left: 15px; }
  .title-endh5 {
    text-transform: uppercase; }
  .title-end h6 {
    color: #AAAAAA; }
