/*variables colors para redes sociales*/
* {
  font-family: "League Spartan", sans-serif; }

.sinze-button i {
  font-size: 30px;
  color: #5CD2B9;
  border: none; }

/* cards de las redes sociales*/
.divelementoborder div {
  border: solid black 1px; }

.container-card {
  width: 100%;
  padding: 20px;
  padding-bottom: 40px;
  margin-top: 60px; }

.card-elemento {
  padding: 10px;
  position: relative;
  transition: all .30s;
  border-radius: 20px; }
  .card-elemento:hover {
    box-shadow: 1px 1px 20px -10px #20202049; }
    .card-elemento:hover.container-icon {
      margin-top: -110px;
      border-radius: 20px 20px 0px 0px; }
    .card-elemento:hover .container-info {
      margin-top: 0%;
      border-radius: 20px 20px 20px 20px; }

.container-icon {
  width: 100%;
  height: 220px;
  background-color: #5CD2B9;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
  border-radius: 20px; }
  .container-icon i {
    font-size: 150px;
    color: #AAAAAA;
    transition: all 400ms cubic-bezier(0.5, 0, 0, 1); }

.container-info {
  width: 100%;
  height: 220px;
  color: #F9F9F9;
  background-color: #151515;
  padding: 20px;
  margin-top: -220px;
  transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
  border-radius: 20px; }
  .container-info p {
    font-size: 14px;
    margin-top: 10px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    overflow: hidden; }
  .container-info input {
    margin-top: 20px;
    padding: 10px 40px;
    background-color: #5CD2B9;
    color: #F9F9F9;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 10px -5px #20202049;
    transition: box-shadow 300ms; }
    .container-info input:hover {
      box-shadow: 1px 1px 20px -5px #20202070; }

/* cards indivualmente */
.c1:hover .container-icon {
  background-color: #0ab0c6; }
  .c1:hover .container-icon i {
    color: #F9F9F9; }

.c1 .container-icon i {
  color: #0ab0c6; }

/* C2*/
.c2:hover .container-icon {
  background-color: #a82bf5; }
  .c2:hover .container-icon i {
    color: #F9F9F9; }

.c2 .container-icon i {
  color: #a82bf5; }

/*C3*/
.c3:hover .container-icon {
  background-color: #c60a62; }
  .c3:hover .container-icon i {
    color: #F9F9F9; }

.c3 .container-icon i {
  color: #c60a62; }

/* slider de marcas*/
.slider {
  padding: 15px;
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden; }

.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(200px * 14); }

.slider .slite {
  width: 200px; }

.slider .slide img {
  width: 100%; }

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(calc(-200px *7));
    transform: translateX calc(-200px *7); } }

.background-nav {
  background-color: #0C0C0C; }

.link-colors a {
  color: #F9F9F9; }
  .link-colors a:hover {
    color: #5CD2B9; }

.nav_logo {
  width: 100px;
  height: 100px; }

.bodyhome {
  background-color: #0C0C0C; }

.background__hero {
  height: 700px;
  background-image: linear-gradient(270deg, #5CD2B93D 1%, #04020200 51%), url(https://evilgeniuses.gg/wp-content/uploads/2020/05/about_4.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain; }

.align-items {
  display: flex;
  align-items: center; }

.hero-titles {
  text-align: left; }
  .hero-titles h1 {
    color: #AAAAAA;
    font-size: 75px; }
    .hero-titles h1 span {
      color: #5CD2B9; }
  .hero-titles h5 {
    color: #5CD2B9;
    font-size: 18px;
    letter-spacing: 4px;
    text-transform: uppercase; }

@media (max-width: 767px) {
  .hero-titles h1 {
    font-size: 45px; }
  .hero-titles h5 {
    font-size: 15px; } }

.border-box {
  box-sizing: border-box;
  padding: 10px; }

.video-cont {
  height: 100%;
  text-align: left; }

.video-play {
  text-decoration: none;
  width: auto;
  height: auto; }
  .video-play i {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #f71546;
    border: 2px solid #f71546;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    transition: ease-in-out 220ms;
    cursor: pointer; }
    .video-play i:hover {
      background: #f71546;
      color: #fff;
      box-shadow: 0 0 26px #f71546; }

.right-overlay {
  margin-top: 5px;
  padding: 10px;
  display: flex; }
  .right-overlay .linear-division {
    margin: 5px;
    width: 50px;
    height: 2px;
    background-color: #5CD2B9; }

.title-end {
  padding-left: 15px; }
  .title-endh5 {
    text-transform: uppercase; }
  .title-end h6 {
    color: #AAAAAA; }

/* seccion about header*/
/* column left animacion*/
.container-animation {
  margin-top: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto; }

.box {
  border-radius: 20px;
  width: 60px;
  height: 60px;
  background: #f0f0f0;
  animation: anime 3s cubic-bezier(0.16, 1, 0.3, 1) 1s;
  animation-fill-mode: forwards;
  /* animation-fill-mode: forwards; */ }

/* @keyframes anime {
    0% {
      width: 60px;
      height: 60px;
      background: #f0f0f0;
      -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.74); 
      box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.74);
        
    }
    25% {
      width: 60px;
      height: 60px;
      background: #f8f8f8;
        
    }
    50% {
      width: 60px;
      height: 240px;
      background: #f8f8f8;
      
    }
    100% {
      width: 480px;
      height: 240px;
      background: #fafafa;
      
    }



  }*/
/* column right*/
.about-info-origen {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px; }
  .about-info-origen div {
    border: solid black 1px; }

.elemento-title-about {
  text-transform: uppercase;
  color: #AAAAAA;
  font-size: 65px;
  font-weight: 300;
  line-height: 1em;
  letter-spacing: 3px; }

.elemento-parrafo-about {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 24px;
  line-height: 1.1em;
  color: #AAAAAA;
  text-align: justify; }

.title-social-network h5 {
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  color: #5CD2B9;
  letter-spacing: 4px;
  text-transform: uppercase; }

.social-network-follow {
  display: flex;
  justify-content: space-around; }
  .social-network-follow i {
    font-size: 35px; }

.container-ai {
  color: #0ab0c6; }

.container-b i {
  color: #a82bf5; }

.container-c i {
  color: #c60a62; }

/* texto informativo sobre redes estilos*/
.elemento-left-redes {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ad7123; }

.elemento-left_titles h5 {
  text-align: left;
  color: #AAAAAA;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 45px; }

.elemento-left_titles h6 {
  text-align: left;
  color: #F9F9F9;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 25px; }
