.nav_logo {
    width: 100px;
    height: 100px;
}

.background-nav {
    
  background-image: linear-gradient(157.5deg, rgb(94, 94, 94) 0%, rgb(94, 94, 94) 14%,rgb(116, 116, 116) 14%, rgb(116, 116, 116) 73%,rgb(139, 139, 139) 73%, rgb(139, 139, 139) 74%,rgb(161, 161, 161) 74%, rgb(161, 161, 161) 75%,rgb(183, 183, 183) 75%, rgb(183, 183, 183) 79%,rgb(206, 206, 206) 79%, rgb(206, 206, 206) 88%,rgb(228, 228, 228) 88%, rgb(228, 228, 228) 100%),linear-gradient(45deg, rgb(94, 94, 94) 0%, rgb(94, 94, 94) 14%,rgb(116, 116, 116) 14%, rgb(116, 116, 116) 73%,rgb(139, 139, 139) 73%, rgb(139, 139, 139) 74%,rgb(161, 161, 161) 74%, rgb(161, 161, 161) 75%,rgb(183, 183, 183) 75%, rgb(183, 183, 183) 79%,rgb(206, 206, 206) 79%, rgb(206, 206, 206) 88%,rgb(228, 228, 228) 88%, rgb(228, 228, 228) 100%),linear-gradient(135deg, rgb(94, 94, 94) 0%, rgb(94, 94, 94) 14%,rgb(116, 116, 116) 14%, rgb(116, 116, 116) 73%,rgb(139, 139, 139) 73%, rgb(139, 139, 139) 74%,rgb(161, 161, 161) 74%, rgb(161, 161, 161) 75%,rgb(183, 183, 183) 75%, rgb(183, 183, 183) 79%,rgb(206, 206, 206) 79%, rgb(206, 206, 206) 88%,rgb(228, 228, 228) 88%, rgb(228, 228, 228) 100%),linear-gradient(90deg, rgb(6, 6, 6),rgb(231, 231, 231)); background-blend-mode:overlay,overlay,overlay,normal;  
    
   
} 

.link-colors a {
    color: rgb(40, 40, 40);

}
.link-colors a:hover {
    border-bottom: solid rgb(53, 55, 107) 2px;
    
    color: #3e4dcb;
    

    
}