.bodyhome {
    background-color:$global-color-secondary ;

}


.background__hero {
    
    height: 700px;
    background-image: 
    linear-gradient(270deg, $global-color-grediente-one 1%, $global-color-grediente-three 51% ),
    url(https://evilgeniuses.gg/wp-content/uploads/2020/05/about_4.png);
    @include backgroundimg-right-norepeat-contain;
    
}
.align-items {
    @include align-item-center;
}

.hero-titles {
    text-align: left ;
    & h1{
        color: $global-color-text-secondary;
        font-size: $global-typography-font-size-title;
        & span {
            color:$global-color-primary;
        }

    }

     h5 {
        color: $global-color-primary ;
        font-size: 18px;
        letter-spacing: 4px;
        text-transform: uppercase;

    }
    
    
}
@media (max-width: 767px) {
    .hero-titles {
       & h1 {
        font-size: 45px;
       }
       h5 {
        font-size: 15px;
       }
    }
    
}


.border-box {
    box-sizing: border-box;
    padding: 10px;
}

.video-cont {
    height: 100%;
    text-align: left;
}
.video-play {
    
    text-decoration: none;
    width: auto;
    height: auto;
    
    & i {
        
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        color: $global-color-youtube;
        border: 2px solid $global-color-youtube;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        transition: ease-in-out 220ms;
        cursor: pointer;

        &:hover {
          background: $global-color-youtube;
          color: #fff;
          box-shadow: 0 0 26px $global-color-youtube;
        }
      }
    
}

.right-overlay {
    margin-top: 5px;
    padding: 10px;
    display: flex;
    .linear-division {
        margin: 5px;
        width: 50px;
        height: 2px;
        background-color: $global-color-primary;
    }
    
}
.title-end {
    padding-left: 15px;
    &h5 {
       
        text-transform: uppercase;


    }
    & h6 {
        color: $global-color-text-secondary;
    }
}
/* seccion about header*/


/* column left animacion*/

.container-animation{
    margin-top: 20px;
    
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
  }
  .box {
    border-radius: 20px;
    width: 60px;
    height: 60px;
    background: #f0f0f0;
    
    animation: anime 3s cubic-bezier(0.16, 1, 0.3, 1) 1s ;
    animation-fill-mode:forwards;
    /* animation-fill-mode: forwards; */
  }
 /* @keyframes anime {
    0% {
      width: 60px;
      height: 60px;
      background: #f0f0f0;
      -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.74); 
      box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.74);
        
    }
    25% {
      width: 60px;
      height: 60px;
      background: #f8f8f8;
        
    }
    50% {
      width: 60px;
      height: 240px;
      background: #f8f8f8;
      
    }
    100% {
      width: 480px;
      height: 240px;
      background: #fafafa;
      
    }



  }*/
 

/* column right*/
.about-info-origen {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    & div {
        border: solid black 1px;
    }
}

.elemento-title-about {
    text-transform: uppercase;
    color:  $global-color-text-secondary;
    font-size: 65px;
    font-weight: 300;
    line-height: 1em;
    letter-spacing: 3px;

}
.elemento-parrafo-about {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 24px ;
    line-height: 1.1em;
    color: $global-color-text-secondary;
    text-align: justify;
    
}
.title-social-network  h5{
    @include text-decoration-center;
    font-size: 15px ;
    color: $global-color-primary;
    letter-spacing: 4px;
    text-transform: uppercase;

}
.social-network-follow  {
    display: flex;
    justify-content: space-around;
    & i {
        font-size: 35px;
     
    }
   
    
}
.container-a {
    &i{
        color: $global-color-redes-twitter;
    }
}
.container-b i{
    color: $global-color-redes-twitch;
}
.container-c i{
    color: $global-color-redes-instagram;
}
/* texto informativo sobre redes estilos*/
.elemento-left-redes {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
   
    gap: 10px;
    background-color: rgb(173, 113, 35);

}
.elemento-left_titles {
    & h5 {
        text-align: left;
        color: $global-color-text-secondary;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 5px;
        font-size: 45px ;
    }
    & h6 {
        text-align: left;
        color: $global-color-place-primary;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 25px ;

    }

}