body {
    font-family: 'League Spartan', sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: white;
    
}

/* layout */

.layout_container div {
    border: solid black 2px;

}
.layout_container {
    border: solid 2px rgb(0, 0, 0);
    padding: 20px;
    display: grid;
    
    min-height: 100vh;
    grid-gap: 10px;
    /*grid areas*/
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
    
    "header"
    "contenido"
    "aside"
    "footer";
    
    

}  


.header{
    grid-area: header;
}
.contenido{
    grid-area: contenido;
}
.aside {
    grid-area: aside;
}
.footer {
    grid-area: footer;
}
/* Clases generales aplicables*/ 


.list_style {
    list-style: none;
}
.textalign_center{
    text-align: center;

}
.text_decorationnone {
    text-decoration: none;
}





/*estilizando nav bar*/
.nav_logo{
    width: 100px;
    height: 100px;
}

.background-nav {
    background: #20002c; 
    background: -webkit-linear-gradient(to right, #cbb4d4, #20002c);  
    background: linear-gradient(to right, #cbb4d4, #20002c); 
} 


/* header main*/
.header {
    
    display: flex;
    align-items: center;
    height: 100vh;
}
.header_titles h1 {
    font-size: 3.9975843648em;
    
}

/*media query*/
@media (min-width:500px) {
    .layout_container {
        display: grid;
        min-height: 100vh;
        grid-gap: 10px;
        /*grid areas*/
        grid-template-columns: 4fr 1fr ;
        grid-template-rows: auto auto 1fr;
        grid-template-areas: 
        "navbar navbar"
        "header aside"
        "contenido contenido"
        "footer footer";
    }
}

