body {
    font-family: 'League Spartan', sans-serif;
    margin: 0%;
    padding: 0%;
    background-image: linear-gradient(126deg, rgba(94, 94, 94, 0.02) 0%, rgba(94, 94, 94, 0.02) 12%,rgba(20, 20, 20, 0.02) 12%, rgba(20, 20, 20, 0.02) 67%,rgba(98, 98, 98, 0.02) 67%, rgba(98, 98, 98, 0.02) 76%,rgba(247, 247, 247, 0.02) 76%, rgba(247, 247, 247, 0.02) 91%,rgba(44, 44, 44, 0.02) 91%, rgba(44, 44, 44, 0.02) 100%),linear-gradient(133deg, rgba(251, 251, 251, 0.02) 0%, rgba(251, 251, 251, 0.02) 33%,rgba(132, 132, 132, 0.02) 33%, rgba(132, 132, 132, 0.02) 43%,rgba(248, 248, 248, 0.02) 43%, rgba(248, 248, 248, 0.02) 58%,rgba(19, 19, 19, 0.02) 58%, rgba(19, 19, 19, 0.02) 89%,rgba(43, 43, 43, 0.02) 89%, rgba(43, 43, 43, 0.02) 100%),linear-gradient(56deg, rgba(4, 4, 4, 0.02) 0%, rgba(4, 4, 4, 0.02) 29%,rgba(242, 242, 242, 0.02) 29%, rgba(242, 242, 242, 0.02) 33%,rgba(38, 38, 38, 0.02) 33%, rgba(38, 38, 38, 0.02) 57%,rgba(138, 138, 138, 0.02) 57%, rgba(138, 138, 138, 0.02) 99%,rgba(210, 210, 210, 0.02) 99%, rgba(210, 210, 210, 0.02) 100%),linear-gradient(114deg, rgba(122, 122, 122, 0.02) 0%, rgba(122, 122, 122, 0.02) 45%,rgba(0, 0, 0, 0.02) 45%, rgba(0, 0, 0, 0.02) 58%,rgba(66, 66, 66, 0.02) 58%, rgba(66, 66, 66, 0.02) 68%,rgba(103, 103, 103, 0.02) 68%, rgba(103, 103, 103, 0.02) 84%,rgba(130, 130, 130, 0.02) 84%, rgba(130, 130, 130, 0.02) 100%),linear-gradient(72deg, rgba(84, 84, 84, 0.02) 0%, rgba(84, 84, 84, 0.02) 1%,rgba(241, 241, 241, 0.02) 1%, rgba(241, 241, 241, 0.02) 12%,rgba(90, 90, 90, 0.02) 12%, rgba(90, 90, 90, 0.02) 15%,rgba(92, 92, 92, 0.02) 15%, rgba(92, 92, 92, 0.02) 54%,rgba(134, 134, 134, 0.02) 54%, rgba(134, 134, 134, 0.02) 100%),linear-gradient(90deg, rgb(8, 8, 8),rgb(220, 220, 220));
    


}
:root{
    --clip: polygon(0 0, 0% 100%, 0 100%);

}

/* layout */

.layout_container {
    border: solid black 2px;

}





/* Clases generales aplicables*/ 


.list_style {
    list-style: none;
}
.textalign_center{
    text-align: center;

}
.text_decorationnone {
    text-decoration: none;
}





/*estilizando nav bar*/

.nav_logo{
    width: 100px;
    height: 100px;
}

.background-nav {
    
  background-image: linear-gradient(157.5deg, rgb(94, 94, 94) 0%, rgb(94, 94, 94) 14%,rgb(116, 116, 116) 14%, rgb(116, 116, 116) 73%,rgb(139, 139, 139) 73%, rgb(139, 139, 139) 74%,rgb(161, 161, 161) 74%, rgb(161, 161, 161) 75%,rgb(183, 183, 183) 75%, rgb(183, 183, 183) 79%,rgb(206, 206, 206) 79%, rgb(206, 206, 206) 88%,rgb(228, 228, 228) 88%, rgb(228, 228, 228) 100%),linear-gradient(45deg, rgb(94, 94, 94) 0%, rgb(94, 94, 94) 14%,rgb(116, 116, 116) 14%, rgb(116, 116, 116) 73%,rgb(139, 139, 139) 73%, rgb(139, 139, 139) 74%,rgb(161, 161, 161) 74%, rgb(161, 161, 161) 75%,rgb(183, 183, 183) 75%, rgb(183, 183, 183) 79%,rgb(206, 206, 206) 79%, rgb(206, 206, 206) 88%,rgb(228, 228, 228) 88%, rgb(228, 228, 228) 100%),linear-gradient(135deg, rgb(94, 94, 94) 0%, rgb(94, 94, 94) 14%,rgb(116, 116, 116) 14%, rgb(116, 116, 116) 73%,rgb(139, 139, 139) 73%, rgb(139, 139, 139) 74%,rgb(161, 161, 161) 74%, rgb(161, 161, 161) 75%,rgb(183, 183, 183) 75%, rgb(183, 183, 183) 79%,rgb(206, 206, 206) 79%, rgb(206, 206, 206) 88%,rgb(228, 228, 228) 88%, rgb(228, 228, 228) 100%),linear-gradient(90deg, rgb(6, 6, 6),rgb(231, 231, 231)); background-blend-mode:overlay,overlay,overlay,normal;  
    
   
} 

.link-colors a {
    color: rgb(40, 40, 40);

}
.link-colors a:hover {
    border-bottom: solid rgb(53, 55, 107) 2px;
    
    color: #3e4dcb;
    

    
}







/* header main*/
header img {
    width: 100%;
}

.background-header {
    background-color: black;
}


/* titles animados */
.fall-down {
    width: 100%;
    color: rgb(115, 115, 115);
    
}

.content h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 800;
    

}
.content {
    background-image: linear-gradient(0deg, transparent 0%, transparent 58%,rgba(104, 104, 104,0.05) 58%, rgba(104, 104, 104,0.05) 92%,transparent 92%, transparent 100%),linear-gradient(45deg, transparent 0%, transparent 34%,rgba(104, 104, 104,0.05) 34%, rgba(104, 104, 104,0.05) 77%,transparent 77%, transparent 100%),linear-gradient(0deg, transparent 0%, transparent 33%,rgba(104, 104, 104,0.05) 33%, rgba(104, 104, 104,0.05) 53%,transparent 53%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
    display: flex;
    justify-content: center;
    clip-path: polygon(12% 0, 100% 0%, 88% 100%, 0% 100%);
}




.anim {
    
    display: inline-block;
    overflow: hidden;
    
    

}
.anim::before, ::after{
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 1;
    clip-path: polygon(20% 0, 100% 0, 80% 100%, 0% 100%);
    


}

.anim::before {
    
    background-color: rgb(215, 255, 82) ;
    animation: showText .8s ease;
}
.anim::after  {
    background-color: rgb(74, 0, 160);
    animation-delay: .5s;
    animation: showText .6s ease;
}

.anim h1 {
    
    opacity: 0;
    
    animation: animateText 4s forwards;
}
@keyframes animateText {
    from {
        opacity: 0;
        

    }
    to {
        opacity: 1;
        color: rgba(40, 47, 62, 0.681);
        

    }
}
@keyframes showText {
    0% {
        width: 0;
        left: 0;
        transform: translateX(0);
    }
    20% {
    
        
        transform: translateX(12%);

    }
    40% {
        width: 100%;
        transform: translateX(50%);
    }
   
    100% {
        
        transform: translateX(100%);
        

    }

}


/* slider carousel */

.slider {
    padding: 15px;
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;

}
.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);

}
.slider .slite {
    width: 200px;
}
.slider .slide img {
    width: 100%;

}
@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX:(0);


    }
    100% {
        -webkit-transform : translateX(calc(-200px *7));
        transform: translateX:(calc(-200px *7));


    } 

}
/* section presentacion de windingo*/
.image-lan {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}
.team-win {
    position: relative;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .6;
    border-radius: 10px;
    
    

}
.team-win:hover {
   position: relative;
   transition-delay: .6s;
   transition-duration: 2s;
  
   opacity: 1;
   
}





.nav_logo2 {
    position: relative;
    width: 100px;
    height: 100px;
}



.description-image-lan {
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.description-image-lan h3 {
    color: grey;
    font-size: 2em;
    

}
.description-image-lan p {
    font-size: large;
}

.img-presentacion {
    
    width: 100%;
}



/* cards*/
.flip-card {
    background-color: transparent;
    width: auto;
    height:300px;
    
    perspective: 1000px; 
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-back {
    background-color: transparent;
    color: white;
    transform: rotateY(180deg);

    /*flex para acomodar elemento*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }

  





/*footer*/






/* parteners windingo pagina */
.body-parteners{
    background-image: linear-gradient(180deg, rgb(59, 59, 59),rgb(197, 197, 197)),linear-gradient(225deg, rgb(159, 116, 214) 0%, rgb(159, 116, 214) 25%,rgb(130, 95, 173) 25%, rgb(130, 95, 173) 45%,rgb(101, 74, 132) 45%, rgb(101, 74, 132) 50%,rgb(72, 54, 90) 50%, rgb(72, 54, 90) 52%,rgb(43, 33, 49) 52%, rgb(43, 33, 49) 61%,rgb(14, 12, 8) 61%, rgb(14, 12, 8) 100%),linear-gradient(315deg, rgb(159, 116, 214) 0%, rgb(159, 116, 214) 25%,rgb(130, 95, 173) 25%, rgb(130, 95, 173) 45%,rgb(101, 74, 132) 45%, rgb(101, 74, 132) 50%,rgb(72, 54, 90) 50%, rgb(72, 54, 90) 52%,rgb(43, 33, 49) 52%, rgb(43, 33, 49) 61%,rgb(14, 12, 8) 61%, rgb(14, 12, 8) 100%); background-blend-mode:overlay,overlay,normal;
}
.background-nav-parteners {
    border: solid rgba(255, 255, 255, 0.037) 1px;
    
}
    

span{
    display: inline-block;
    text-decoration: none;
    color: inherit;

}
.section-head {
    margin-bottom: 60px;

}
.section-head h2 {
    position: relative;
    padding: 0;
    color: #9812c9;
    line-height: 1;
    letter-spacing: 0.3px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: none;
    margin-bottom: 30px;


}
.section-head h2::before {
    content: "";
    width: 60px;
    height: 3px;
    background: #20002c;  
    position: absolute;
    bottom: -10px;
    left: 0;
    right:0;
    margin: 0 auto;
}
.section-head h2 span{
    font-weight: 700px;
    padding-bottom: 4px;
    color: #d3d3d3;
}
.section-head p{
    color: #ffffff;
    font-size:20px ;
    line-height: 28px;
    text-align: center;
}
.item {
   
    height:100%;
    
    text-align: center;
    padding: 30px 25px;
    box-shadow: 0 0 25px rgb(0, 0, 0, 0.07);
    border-radius: 20px;
    margin-bottom: 20px;
    border: 5px solid rgb(0, 0, 0, 0.07);
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;

}
.item:hover{
    background-image: linear-gradient(90deg, rgb(188, 188, 188),rgb(172, 172, 172)),linear-gradient(45deg, rgb(164, 46, 188) 0%, rgb(164, 46, 188) 14%,rgb(165, 82, 189) 14%, rgb(165, 82, 189) 20%,rgb(165, 117, 190) 20%, rgb(165, 117, 190) 23%,rgb(166, 153, 191) 23%, rgb(166, 153, 191) 30%,rgb(166, 188, 192) 30%, rgb(166, 188, 192) 37%,rgb(167, 224, 193) 37%, rgb(167, 224, 193) 100%),linear-gradient(135deg, rgb(164, 46, 188) 0%, rgb(164, 46, 188) 14%,rgb(165, 82, 189) 14%, rgb(165, 82, 189) 20%,rgb(165, 117, 190) 20%, rgb(165, 117, 190) 23%,rgb(166, 153, 191) 23%, rgb(166, 153, 191) 30%,rgb(166, 188, 192) 30%, rgb(166, 188, 192) 37%,rgb(167, 224, 193) 37%, rgb(167, 224, 193) 100%); background-blend-mode:overlay,overlay,normal;
    box-shadow: 0 8px 20px 0 rgb(0, 0, 0, 0.2);
    --webkit-transition: all 2s ease 0s;
    transition: all 2s ease 0s;
}

.item:hover h6,
.item:hover p {
    color:rgb(0, 0, 0);
    --webkit-transition:all 0.5s ease 0s;
    transition: all 0.5s ease 0s;

}
.img-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
    
}






