body {
    font-family: 'League Spartan', sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: white;
    


}
:root{
    --clip: polygon(0 0, 0% 100%, 0 100%);

}

/* layout */

.layout_container {
    border: solid black 2px;

}





/* Clases generales aplicables*/ 


.list_style {
    list-style: none;
}
.textalign_center{
    text-align: center;

}
.text_decorationnone {
    text-decoration: none;
}





/*estilizando nav bar*/
.nav_logo{
    width: 100px;
    height: 100px;
}

.background-nav {
    background: #20002c; 
    background: -webkit-linear-gradient(to right, #cbb4d4, #20002c);  
    background: linear-gradient(to right, #cbb4d4, #20002c); 
} 
/* carrusel imagenes*/
.image-carousel{
    image-resolution: 300px;
}



/* header main*/
.header-me{
    
    height: 500px;
    background-image: url(./images/predi_4977.png);
    background-position: center;
    background-repeat: no-repeat;
    
}
.background-header {
    background-color: black;
}






