body {
    font-family: 'League Spartan', sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: rgb(0, 0, 0);
    


}
:root{
    --clip: polygon(0 0, 0% 100%, 0 100%);

}

/* layout */

.layout_container {
    border: solid black 2px;

}





/* Clases generales aplicables*/ 


.list_style {
    list-style: none;
}
.textalign_center{
    text-align: center;

}
.text_decorationnone {
    text-decoration: none;
}





/*estilizando nav bar*/

.nav_logo{
    width: 100px;
    height: 100px;
}

.background-nav {
    background: #20002c; 
    background: -webkit-linear-gradient(to right, #cbb4d4, #20002c);  
    background: linear-gradient(to right, #cbb4d4, #20002c); 
} 






/* header main*/
.header-me {
    
    height: 500px;
    background-image: url(./images/predi_4977.png);
    background-position: center;
    background-repeat: no-repeat;
}

.background-header {
    background-color: black;
}

/* slider carousel */
.slider {
    padding: 15px;
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;

}
.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);

}
.slider .slite {
    width: 200px;
}
.slider .slide img {
    width: 100%;

}
@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX:(0);


    }
    100% {
        -webkit-transform : translateX(calc(-200px *7));
        transform: translateX:(calc(-200px *7));


    } 

}
/* section presentacion de windingo*/
.image-lan {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}


.image-fans {
    height: 500px;
    
}
.div-flex{
    display: flex;
    flex-direction: column;
    
}
/* cards*/
.flip-card {
    background-color: transparent;
    width: 300px;
    height:300px;
    
    perspective: 1000px; 
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .flip-card-front {
    background-color: rgba(43, 39, 62, 0);
    color: black;
  }
  .flip-card-back {
    background-color: rgb(0, 0, 0);
    color: white;
    transform: rotateY(180deg);

    /*flex para acomodar elemento*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  





/*footer*/
footer {
    width: 100%;
    bottom: 0;
    background: linear-gradient(to right, #362042ce, #002d0d);
    color: #fff;
    padding: 50px 30px; 
    border-top-left-radius: 150px;
    font-size: 15px;
    line-height: 20px;
}
.list-footer {
    list-style: none;
    text-decoration: none;
    color: #20002c;
    

}
.list-footer ul li a {
    text-decoration: none;
}
.social-links{
    display: flex;
    flex-direction: column;
}
.social-icons {
    width: 200px;

}
/* news windingo pagina */
.body-news{
    background: linear-gradient(#283048, #859398);
}
span{
    display: inline-block;
    text-decoration: none;
    color: inherit;

}
.section-head {
    margin-bottom: 60px;

}
.section-head h2 {
    position: relative;
    padding: 0;
    color: #20002c;
    line-height: 1;
    letter-spacing: 0.3px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: none;
    margin-bottom: 30px;


}
.section-head h2::before {
    content: "";
    width: 60px;
    height: 3px;
    background: #20002c;  
    position: absolute;
    bottom: -10px;
    left: 0;
    right:0;
    margin: 0 auto;
}
.section-head h2 span{
    font-weight: 700px;
    padding-bottom: 4px;
    color: #d3d3d3;
}
.section-head p{
    color: #000000;
    font-size:20px ;
    line-height: 28px;
    text-align: center;
}
.item {
    background-color: #fff;
    text-align: center;
    padding: 30px 25px;
    box-shadow: 0 0 25px rgb(0, 0, 0, 0.07);
    border-radius: 20px;
    margin-bottom: 30px;
    border: 5px solid rgb(0, 0, 0, 0.07);
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;

}
.item:hover{
    background-color: #5c4e61;
    box-shadow: 0 8px 20px 0 rgb(0, 0, 0, 0.2);
    --webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.item:hover .item,
.item:hover span.icon {
    background-color: white;
    border-radius: 10px;
    transition: all 0.5s ease 0s;
}
.item:hover h6,
.item:hover p {
    color:#fff;
    --webkit-transition:all 0.5s ease 0s;
    transition: all 0.5s ease 0s;

}
.item .icon {
    font-size: 40px;
    margin-bottom: 25px;
    color: #5c4e61;
    width: 90px;
    height: 90px;
    line-height: 96px;
    border-radius: 50px;
}






