body {
    font-family: 'League Spartan', sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: rgb(0, 0, 0);
    


}
:root{
    --clip: polygon(0 0, 0% 100%, 0 100%);

}

/* layout */

.layout_container {
    border: solid black 2px;

}





/* Clases generales aplicables*/ 


.list_style {
    list-style: none;
}
.textalign_center{
    text-align: center;

}
.text_decorationnone {
    text-decoration: none;
}





/*estilizando nav bar*/

.nav_logo{
    width: 100px;
    height: 100px;
}

.background-nav {
    background: #20002c; 
    background: -webkit-linear-gradient(to right, #cbb4d4, #20002c);  
    background: linear-gradient(to right, #cbb4d4, #20002c); 
} 
/* carrusel imagenes*/
.image-carousel{
    image-resolution: 300px;
}



/* header main*/
.header-me{
    
    height: 500px;
    background-image: url(./images/predi_4977.png);
    background-position: center;
    background-repeat: no-repeat;
    
}
.background-header {
    background-color: black;
}

/* slider */
.slider {
    padding: 15px;
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;

}
.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);

}
.slider .slite {
    width: 200px;
}
.slider .slide img {
    width: 100%;

}
@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX:(0);


    }
    100% {
        -webkit-transform : translateX(calc(-200px *7));
        transform: translateX:(calc(-200px *7));


    } 

}
/* section presentacion de windingo*/
.img-lan-section{
    width: 480px;
}







