.bodyhome {
    font-family: 'League Spartan', sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: black;
    


}
a {
    text-decoration: none;

}
ul {
    list-style: none;
}

:root{
    --clip: polygon(0 0, 0% 100%, 0 100%);

}

/* layout */

.layout_container {
    border: solid black 2px;

}





/* Clases generales aplicables*/ 


.list_style {
    list-style: none;
}
.textalign_center{
    text-align: center;

}
.text_decorationnone {
    text-decoration: none;
}





/*estilizando nav bar*/

.nav_logo{
    width: 100px;
    height: 100px;
}

.background_nav {
    
  background-color:  #151515;  
    
   
} 

.link-colors a {
    color: #f9f9f9;

}
.link-colors a:hover {
    color: #5cd2b9; 
}







/* header main*/
.border__style div{
    border: solid white 1px;

}


.background__hero {
    
    height: 700px;
    background-image: 
    linear-gradient(270deg, #5cd2b9 1%, #04020200 51% ),
    url(https://evilgeniuses.gg/wp-content/uploads/2020/05/about_4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    
    
}
.hero__titles {
    text-align: left;
}
.hero__title-h5 {
    color: #5cd2b9 ;
    font-size: 18px;
    letter-spacing: 4px;
    
}
.hero__title-h1 {
    font-size: 75px;

    color:#f9f9f9;
}
@media (max-width:767px ) {
    .hero__title-h1 {
        font-size: 55px;
    }
    .hero__title-h5 {
        font-size: 12px;
    }
}

    
  

.hero__title-h1 span {
    color:#5cd2b9 ;

}
.align-items {
    display: flex;
    align-items: center;
}


/* titles animados */
.fall-down {
    width: 100%;
    color: rgb(115, 115, 115);
    
}

.content h1 {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 800;
    

}
.content {

   display: flex;
   justify-content: center;
   clip-path: polygon(12% 0, 100% 0%, 88% 100%, 0% 100%);
}




.anim {
    
    display: inline-block;
    overflow: hidden;
    
    

}
.anim::before, ::after{
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 1;
    clip-path: polygon(20% 0, 100% 0, 80% 100%, 0% 100%);
    


}

.anim::before {
    
    background-color: rgb(215, 255, 82) ;
    animation: showText .8s ease;
}
.anim::after  {
    background-color: rgb(74, 0, 160);
    animation-delay: .5s;
    animation: showText .6s ease;
}

.anim h1 {
    
    opacity: 0;
    
    animation: animateText 4s forwards;
}
@keyframes animateText {
    from {
        opacity: 0;
        

    }
    to {
        opacity: 1;
        color: rgba(40, 47, 62, 0.681);
        

    }
}
@keyframes showText {
    0% {
        width: 0;
        left: 0;
        transform: translateX(0);
    }
    20% {
    
        
        transform: translateX(12%);

    }
    40% {
        width: 100%;
        transform: translateX(50%);
    }
   
    100% {
        
        transform: translateX(100%);
        

    }

}


/* slider carousel */

.slider {
    padding: 15px;
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;

}
.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);

}
.slider .slite {
    width: 200px;
}
.slider .slide img {
    width: 100%;

}
@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX:(0);


    }
    100% {
        -webkit-transform :translateX(calc(-200px *7)) ;
        transform:translateX : (calc(-200px *7));


    } 

}
/* cards del inicio*/
.container-card {
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    margin-top: 60px;

}
.card-elemento {
    padding: 10px;
    position: relative;
    transition: all .30s ;
    border-radius: 20px;
}
.card-elemento:hover {
    box-shadow: 1px 1px 20px -10px #20202049;
}
.card-elemento:hover .container-icon {
    margin-top: -110px ;
    border-radius: 20px 20px 0px 0px;


}
.container-icon {
    width: 100%;
    height: 220px;
    background-color:#5cd2b9;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    border-radius: 20px;

    
}
.container-icon i {
    font-size: 150px;
    color: #f9f9f9 ;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
}
.container-info {
    width: 100%;
    height: 220px;
    color:#f9f9f9 ;
    background-color:#151515 ;
    padding: 20px;
    margin-top: -220px;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    border-radius: 20px;

}
.card-elemento:hover .container-info {
    margin-top: 0%;
    border-radius: 0px 0px 20px 20px;
    
}
.container-info p {
    font-size: 14px;
    margin-top: 10px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;

    -webkit-line-clamp: 4;
    line-clamp: 4;

    overflow: hidden;
}
.container-info input {
    margin-top: 20px;
    padding: 10px 40px;
    background-color: #5cd2b9 ;
    color: #f9f9f9;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 10px -5px #20202049 ;
    transition: box-shadow 300ms;
}
.container-info input:hover {
    box-shadow: 1px 1px 20px -5px #20202070;



}
/* cards indivualmente */
.c1:hover .container-icon {
    background-color: #0ab0c6 ;



}
.c1 .container-icon i{
    color: #0ab0c6 ;


}
.c1:hover .container-icon i {
    color:#f9f9f9  ;
}

/* C2*/
.c2:hover .container-icon {
    background-color: #a82bf5 ;



}
.c2 .container-icon i{
    color: #a82bf5  ;


}
.c2:hover .container-icon i {
    color:#f9f9f9  ;
}
/*C3*/
.c3:hover .container-icon {
    background-color: #c60a62 ;



}
.c3 .container-icon i{
    color:#c60a62;


}
.c3:hover .container-icon i {
    color:#f9f9f9  ;
}
/* boxs */
.info-box{
    width: 100%;
    height: 100%;
    border: solid white;
    background-color: bisque;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}









/* section presentacion de windingo*/

.image-lan {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}
.team-win {
    position: relative;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .6;
    border-radius: 10px;
    
    

}
.team-win:hover {
   position: relative;
   transition-delay: .6s;
   transition-duration: 2s;
   
  
   opacity: 1;
   
}





.nav_logo2 {
    position: relative;
    width: 100px;
    height: 100px;
}



.description-image-lan {
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.description-image-lan h3 {
    color: grey;
    font-size: 2em;
    

}
.description-image-lan p {
    font-size: large;
}

.img-presentacion {
    
    width: 100%;
}



/* cards*/
.flip-card {
    background-color: transparent;
    width: auto;
    height:300px;
    
    perspective: 1000px; 
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-back {
    background-color: transparent;
    color: white;
    transform: rotateY(180deg);

    /*flex para acomodar elemento*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }

  





/*footer*/






/* parteners windingo pagina */
.body-parteners{
    background-image: linear-gradient(180deg, rgb(59, 59, 59),rgb(197, 197, 197)),linear-gradient(225deg, rgb(159, 116, 214) 0%, rgb(159, 116, 214) 25%,rgb(130, 95, 173) 25%, rgb(130, 95, 173) 45%,rgb(101, 74, 132) 45%, rgb(101, 74, 132) 50%,rgb(72, 54, 90) 50%, rgb(72, 54, 90) 52%,rgb(43, 33, 49) 52%, rgb(43, 33, 49) 61%,rgb(14, 12, 8) 61%, rgb(14, 12, 8) 100%),linear-gradient(315deg, rgb(159, 116, 214) 0%, rgb(159, 116, 214) 25%,rgb(130, 95, 173) 25%, rgb(130, 95, 173) 45%,rgb(101, 74, 132) 45%, rgb(101, 74, 132) 50%,rgb(72, 54, 90) 50%, rgb(72, 54, 90) 52%,rgb(43, 33, 49) 52%, rgb(43, 33, 49) 61%,rgb(14, 12, 8) 61%, rgb(14, 12, 8) 100%); background-blend-mode:overlay,overlay,normal;
}
.background-nav-parteners {
    border: solid rgba(255, 255, 255, 0.037) 1px;
    
}
    

span{
    display: inline-block;
    text-decoration: none;
    color: inherit;

}
.section-head {
    margin-bottom: 60px;

}
.section-head h2 {
    position: relative;
    padding: 0;
    color: #9812c9;
    line-height: 1;
    letter-spacing: 0.3px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: none;
    margin-bottom: 30px;


}
.section-head h2::before {
    content: "";
    width: 60px;
    height: 3px;
    background: #20002c;  
    position: absolute;
    bottom: -10px;
    left: 0;
    right:0;
    margin: 0 auto;
}
.section-head h2 span{
    font-weight: 700px;
    padding-bottom: 4px;
    color: #d3d3d3;
}
.section-head p{
    color: #ffffff;
    font-size:20px ;
    line-height: 28px;
    text-align: center;
}
.item {
   
    height:100%;
    
    text-align: center;
    padding: 30px 25px;
    box-shadow: 0 0 25px rgb(0, 0, 0, 0.07);
    border-radius: 20px;
    margin-bottom: 20px;
    border: 5px solid rgb(0, 0, 0, 0.07);
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;

}
.item:hover{
    background-image: linear-gradient(90deg, rgb(188, 188, 188),rgb(172, 172, 172)),linear-gradient(45deg, rgb(164, 46, 188) 0%, rgb(164, 46, 188) 14%,rgb(165, 82, 189) 14%, rgb(165, 82, 189) 20%,rgb(165, 117, 190) 20%, rgb(165, 117, 190) 23%,rgb(166, 153, 191) 23%, rgb(166, 153, 191) 30%,rgb(166, 188, 192) 30%, rgb(166, 188, 192) 37%,rgb(167, 224, 193) 37%, rgb(167, 224, 193) 100%),linear-gradient(135deg, rgb(164, 46, 188) 0%, rgb(164, 46, 188) 14%,rgb(165, 82, 189) 14%, rgb(165, 82, 189) 20%,rgb(165, 117, 190) 20%, rgb(165, 117, 190) 23%,rgb(166, 153, 191) 23%, rgb(166, 153, 191) 30%,rgb(166, 188, 192) 30%, rgb(166, 188, 192) 37%,rgb(167, 224, 193) 37%, rgb(167, 224, 193) 100%); background-blend-mode:overlay,overlay,normal;
    box-shadow: 0 8px 20px 0 rgb(0, 0, 0, 0.2);
    --webkit-transition: all 2s ease 0s;
    transition: all 2s ease 0s;
}

.item:hover h6,
.item:hover p {
    color:rgb(0, 0, 0);
    --webkit-transition:all 0.5s ease 0s;
    transition: all 0.5s ease 0s;

}
.img-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
    
}
/* contacto */

.body_contact{
    
    
    margin: 0;
    padding: 0;
    background-image: url(./images/fondoheader.png);
    background-size: 100%;
    
    background-repeat: no-repeat;
    background-position: center;
}

.h1_contact{
    padding: 20px;
    text-transform: uppercase;
    color: #f9f9f9;

}
.container-form {
    width: auto;
    display: flex;
    justify-content: center;
    
}

.formulario{
    font: 20px;
    text-align: center;
    padding: 20px;
    width: 100%;
}
.div_redes{
    width: 50%;
    text-align: center;
}
.redes{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.redes i {
    font-size: 40px;

}
.icona i {
    color:#c60a62 ;
}
.iconb i {
   color:#a82bf5 ;

}
.iconc i{
    color:#0ab0c6 ;

}
/* league*/
.body-league {
    background-image: radial-gradient(circle at 52% 94%, rgba(169, 169, 169,0.04) 0%, rgba(169, 169, 169,0.04) 50%,rgba(199, 199, 199,0.04) 50%, rgba(199, 199, 199,0.04) 100%),radial-gradient(circle at 96% 98%, rgba(61, 61, 61,0.04) 0%, rgba(61, 61, 61,0.04) 50%,rgba(201, 201, 201,0.04) 50%, rgba(201, 201, 201,0.04) 100%),radial-gradient(circle at 93% 97%, rgba(227, 227, 227,0.04) 0%, rgba(227, 227, 227,0.04) 50%,rgba(145, 145, 145,0.04) 50%, rgba(145, 145, 145,0.04) 100%),radial-gradient(circle at 79% 52%, rgba(245, 245, 245,0.04) 0%, rgba(245, 245, 245,0.04) 50%,rgba(86, 86, 86,0.04) 50%, rgba(86, 86, 86,0.04) 100%),linear-gradient(90deg, rgb(210, 9, 198),rgb(25, 38, 118));

}


