body {
    font-family: 'League Spartan', sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: white;
    
}

/* layout */

.layout_container div {
    border: solid black 2px;

}
.layout_container {
    border: solid 2px rgb(0, 0, 0);
    padding: 20px;
    display: grid;
    
    min-height: 100vh;
    grid-gap: 10px;
    /*grid areas*/
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
    
    "header"
    "contenido"
    "aside"
    "footer";
    
    

}  


.header{
    grid-area: header;
}
.contenido{
    grid-area: contenido;
}
.aside {
    grid-area: aside;
}
.footer {
    grid-area: footer;
}
/* Clases generales aplicables*/ 


.list_style {
    list-style: none;
}
.textalign_center{
    text-align: center;

}
.text_decorationnone {
    text-decoration: none;
}





/*estilizando nav bar*/
.nav_logo{
    width: 100px;
    height: 100px;
}

.background-nav {
    background: #20002c; 
    background: -webkit-linear-gradient(to right, #cbb4d4, #20002c);  
    background: linear-gradient(to right, #cbb4d4, #20002c); 
} 


/* header main*/
.header {


   display: flex;
   align-items: center;
   padding: 20px;
   height: 100vh;
}
.texts {
    align-items: flex-start;
}
.item {
    position: relative;
    padding-left: 1rem;
    
    
    
}
.name {
    font-size: 3rem;
   
    
}
.paragraph {
    font-size: 2rem;
    font-weight: 300;

}
.item::before {
    content: "" ;
    display: block;
    background: slateblue;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0 ;
    left:0;
    z-index:-1;
    
  
}
.paragraph::before {
    background-color: rgb(208, 95, 39);

}

:root{
    --clippy: clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);

}



/*media query*/
@media (min-width:500px) {
    .layout_container {
        display: grid;
        min-height: 100vh;
        grid-gap: 10px;
        /*grid areas*/
        grid-template-columns: 4fr 1fr ;
        grid-template-rows: auto auto 1fr;
        grid-template-areas: 
        "navbar navbar"
        "header aside"
        "contenido contenido"
        "footer footer";
    }
}

