$global-color-primary: #5CD2B9;
$global-color-accent: #5CD2B9;
$global-color-secondary: #0C0C0C;
$global-color-place-secondary:#151515;
$global-color-place-primary: #F9F9F9;

/*variables colors para redes sociales*/
$global-color-redes-twitter: #0ab0c6;
$global-color-redes-twitch: #a82bf5;
$global-color-redes-instagram:#c60a62;

$global-color-youtube: #f71546;





$global-color-text-secondary: #AAAAAA;
$global-color-text-primary: #F9F9F9;

$global-color-links: #F9F9F9;


$global-color-grediente-one: #5CD2B93D;
$global-color-grediente-two: #151515;
$global-color-grediente-three: #04020200;

$gobal-color-shadow-primary :#20202049;
$global-color-shadow-secondary:#20202070;



$global-typography-primary-font-family: 'League Spartan', sans-serif;
$global-typography-font-size-title: 75px;
$global-typography-7980221-font-weight-title: bold;

$global-size-lg:10px;