/* cards de las redes sociales*/
.container-card {
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    margin-top: 60px;

}
.card-elemento {
    padding: 10px;
    position: relative;
    transition: all .30s ;
    border-radius: 20px;
    &:hover {
        box-shadow: 1px 1px 20px -10px $gobal-color-shadow-primary;
        &.container-icon {
            margin-top: -110px;
            border-radius: 20px 20px 0px 0px;
        
        
        }
        .container-info {
            margin-top: 0%;
            border-radius: 20px 20px 20px 20px;
            
        }
    }
}



.container-icon {
    width: 100%;
    height: 220px;
    background-color: $global-color-primary;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    border-radius: 20px;
    & i {
        font-size: 150px;
        color: $global-color-text-secondary ;
        transition: all 400ms cubic-bezier(0.5,0,0,1);
    }

    
}
.container-info {
    width: 100%;
    height: 220px;
    color: $global-color-place-primary ;
    background-color: $global-color-place-secondary;
    padding: 20px;
    margin-top: -220px;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    border-radius: 20px;
    & p{
        font-size: 14px;
        margin-top: 10px;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
    
        -webkit-line-clamp: 4;
        line-clamp: 4;
    
        overflow: hidden;
    }
    & input {
        margin-top: 20px;
        padding: 10px 40px;
        background-color: $global-color-primary ;
        color: $global-color-place-primary;
        font-weight: 500;
        font-size: 14px;
        cursor: pointer;
        border: none;
        border-radius: 20px;
        box-shadow: 1px 1px 10px -5px $gobal-color-shadow-primary ;
        transition: box-shadow 300ms;
        &:hover {
            box-shadow: 1px 1px 20px -5px $global-color-shadow-secondary;
        
        
        
        }
    }

}

 


/* cards indivualmente */
.c1:hover  .container-icon {
    background-color: $global-color-redes-twitter ;
    & i {
        color: $global-color-place-primary;
    }



}
.c1 .container-icon i{
    color: $global-color-redes-twitter;


}


/* C2*/
.c2:hover .container-icon {
    background-color: $global-color-redes-twitch ;
    & i {
        color: $global-color-place-primary ;
    }



}
.c2 .container-icon i{
    color: $global-color-redes-twitch  ;


}
 
/*C3*/
.c3:hover .container-icon {
    background-color: $global-color-redes-instagram ;
    & i {
        color:$global-color-place-primary ;
    }



}
.c3 .container-icon i{
    color:$global-color-redes-instagram;


}
